# Server Port
PORT=3000

# Midtrans Configuration
# Set to true for Production, false for Sandbox
MIDTRANS_IS_PRODUCTION=false

# Retrieve these keys from your Midtrans Dashboard (Settings > Access Keys)
MIDTRANS_SERVER_KEY=YOUR_MIDTRANS_SERVER_KEY
MIDTRANS_CLIENT_KEY=YOUR_MIDTRANS_CLIENT_KEY
